.auth-wrapper {
}

.auth-module {
  max-width: 400px;
  width: 80%;
  margin: 10% auto 0 auto;
}

.auth-module h4  {
  text-align: center;
  font-family: Nunito;
  font-size: 3em;
  font-weight: normal;
  color: #A5B6C9;
}

.auth-input {
  border: none;
  font-family: Open Sans;
  font-size: 1em;
  padding: 4px;
  border-bottom: 2px solid #D3DEEA;
  margin: 1.4em 0 1.4em 0;
  color: #A5B6C9;
  width: 100%;
}

.auth-input::placeholder {
  color: #B3C6DB;
}

.auth-input:focus {
  outline: 0;
  border-bottom: 2px solid #96A6B7;
}

.auth-signin {
  background-image: linear-gradient(141deg, #1fc8db 0%, #2cb5e8 75%);
  color: white;
  font-family: Open Sans;
  font-size: 1.2em;
  padding: 4px 12px 4px 12px;
  border: none;
  float: right;
}

.auth-signin:focus {
  outline: 0;
  border: 1px solid #96A6B7;
}

.auth-check-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1em;
  color: #96A6B7;
  user-select: none;
  display: inline-block;
}

.auth-check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.auth-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.auth-check-container:hover input ~ .auth-checkmark {
  background-color: #ccc;
}

.auth-check-container input:checked ~ .auth-checkmark {
  background-color: #2196F3;
}

.auth-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.auth-check-container input:checked ~ .auth-checkmark:after {
  display: block;
}

.auth-check-container .auth-checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.auth-input-twofactor {
  margin: 0.4em auto 0.4em auto;
  display: block;
  font-size: 4em;
  width: 100%;
  text-align: center;
  letter-spacing: 0.2em;
}

.twofactor-notice {
  color: #0FBCE2;
}

.alert {
  font-size: 1em;
  font-family: Open Sans;
  color: white;
  background-color: #f96666;
  padding: 4px;
  text-align: center;
}
